body {
  background: white;
}

@media (min-width: 980px) {
  #main {
    position: relative;
    padding-top: 100px;
  }
}

.grouped-edit {
  outline: #333 solid 1px;
  padding: 10px;
  margin-bottom: 10px;
}