body {
  background: white;
}

@media (min-width: 980px) {
  #main {
    position: relative;
    padding-top: 100px;
  }
}

.grouped-edit {
  outline: #333 solid 1px;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  font-family: monospace;
  white-space: pre;
  color: white;
  overflow: scroll;
  padding: 20px;
}

.message.success {
  background: green;
}

.message.error {
  background: red;
}